<footer class="mt-3 d-flex flex-wrap">
    <div class="col-lg-4">
        <h5 class="text-muted"><i class="fa-solid fa-earth-asia"></i>&nbsp;Địa chỉ liên kết</h5>
        <div class="ms-1 row align-items-center">
            <div class="col-md-4">
                <input id="text_code" type="hidden" onchange="generalQR(qrCode, this.value)" value="http://localhost:8080/product/list">
                <div id="qrCode" link="Cho link vào đây nha @_@" style="width: fit-content;"></div>
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-around flex-column">
                    <a href="" class="text-decoration-none h3"
                        target="_blank" style="color: blue;">
                        <i class="fa-brands fa-facebook"></i>
                        facebook
                    </a>
                    <a href="https://www.youtube.com/channel/UC4oRkgp-XF1COcgB4LwTvPw"
                        class="text-decoration-none h3" target="_blank" style="color: red;">
                        <i class="fa-brands fa-youtube"></i>
                        Youtube
                    </a>
                    <a href="https://github.com/Team-LovePink/Du_an_tot_nghiep.git" class="text-decoration-none h3"
                        target="_blank" style="color: black;">
                        <i class="fa-brands fa-github"></i>
                        Github
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <h5 class="text-muted"><i class="fa-solid fa-users"></i>&nbsp;Thông tin cá nhóm</h5>
        <div class="mt-1 ps-3 pe-3 ">
            <h6><i class="fa-solid fa-user-check"></i>&nbsp;Nguyễn Bá Hoàng</h6>
            <h6><i class="fa-solid fa-user-check"></i>&nbsp;Bùi Quốc Thịnh</h6>
            <h6><i class="fa-solid fa-user-check"></i>&nbsp;Hồ Nguyên Quốc</h6>
            <h6><i class="fa-solid fa-user-check"></i>&nbsp;Ngô Duy Hòa</h6>
            <h6><i class="fa-solid fa-user-check"></i>&nbsp;Ca Thành Nhân</h6>
        </div>
    </div>
    <div class="col-lg-4 pe-3">
        <h5 class="text-muted"><i class="fa-solid fa-location-crosshairs"></i></i>&nbsp;Cơ sở đào tạo</h5>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2770.771997189313!2d106.62679660784089!3d10.852320511780915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529b6a2b351a5%3A0x11690ada8c36f9bc!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIFRo4buxYyBow6BuaCBGUFQgUG9seXRlY2huaWMgVFAuSENNIChDUzMp!5e0!3m2!1svi!2s!4v1660106022081!5m2!1svi!2s"
            allowfullscreen="" loading="lazy" class="w-100"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>