<div class="mt-3 d-flex w-100 justify-content-lg-around flex-wrap" id="lovepink_info">
    <div class="col-lg-12">
        <h3>Thông tin nhóm thực hiện&nbsp;<i class="fa-solid fa-gears"></i></h3>
    </div>
    <div class="col-lg-2">
        <div class="m-1 p-1 border rounded-3 border-info">
            <label class="form-label text-center w-100 fw-bold">ps18053</label>
            <img src="https://upload.wikimedia.org/wikipedia/vi/2/2c/Nobita.png" class="w-100 h-100" style="object-fit: cover;">
            <div class="text-muted text-center">Nguyễn Bá Hoàng</div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="m-1 p-1 border rounded-3 border-info">
            <label class="form-label text-center w-100 fw-bold">ps18009</label>
            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/3/3e/Shizuka.png/240px-Shizuka.png" class="w-100 h-100" style="object-fit: cover;">
            <div class="text-muted text-center">Bùi Quốc Thịnh</div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="m-1 p-1 border rounded-3 border-info">
            <label class="form-label text-center w-100 fw-bold">ps18066</label>
            <img src="https://upload.wikimedia.org/wikipedia/en/b/bd/Doraemon_character.png" class="w-100 h-100" style="object-fit: cover;">
            <div class="text-muted text-center">Hồ Nguyên Quốc</div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="m-1 p-1 border rounded-3 border-info">
            <label class="form-label text-center w-100 fw-bold">ps18107</label>
            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/6/6e/Takeshi_Goda.gif/150px-Takeshi_Goda.gif" class="w-100 h-100" style="object-fit: cover;">
            <div class="text-muted text-center">Ngô Hoa Hòa</div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="m-1 p-1 border rounded-3 border-info">
            <label class="form-label text-center w-100 fw-bold">ps17622</label>
            <img src="https://upload.wikimedia.org/wikipedia/vi/2/24/Suneo.gif" class="w-100 h-100" style="object-fit: cover;">
            <div class="text-muted text-center">Ca Thành Nhân</div>
        </div>
    </div>
    <div class="col-lg-12">
        <h3><i class="fa-solid fa-audio-description"></i>&nbsp;Giới thiệu khái quát</h3>
        <em class="ms-5 me-5 text-muted">
            Phần mềm ứng dụng website <b>Lovepink - store</b> quản lý bán hàng các loại, người sử dụng nội dung gồm tài khoản và phân quyền, hệ thống có chức năng hiển thị sản phẩm, giở hàng, thực hiện xem, thêm sửa và xóa thông tin dữ liệu trên
            Hệ quản trị cơ sở dữ liệu (<span class="text-decoration-underline">SQL-Server</span>), sử dụng công nghệ Spring-boot và viết theo mô hình MVC.<br>
        </em>
        <em class="ms-5 me-5 text-muted">
            Phần mềm được thực hiện bởi 5 thành viên nhóm gồm: <b>Nguyễn Bá Hoàng</b>, <b>Bùi Quốc Thịnh</b>, <b>Ca Thành Nhân</b>, <b>Ngô Duy Hòa</b> và <b>Hồ Ngyên Quốc</b>. Dự án được viết trong 45 ngày kể từ ngày học 01/07/2022.
        </em>
        <h6 class="text-end">SOF306_Java6_LovePink_Assignment</h6>
    </div>
</div>